html {-webkit-text-size-adjust: none;}

body {
	margin-top: 75px;
}

/* Navigation Styles */

.navbar.navbar-default {
	background-color: #4a90e2;
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar {
  min-height: 70px;
  font-size: 16px;
}

.navbar-header {
  min-height: 70px;
}

#nav-container {
      margin-top: 10px;
}

.navbar-default .navbar-toggle {
    background: #eee;
}

.fa-tachometer {
	font-size: 20px;
}


.footer {
	margin-top: 60px;
	
	
	margin-bottom: 0;
	padding: 40px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	background-color: transparent;
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}


/* Text Styles */

body {
	/*font-family: 'Fira Sans', sans-serif;*/
}

.page-heading {
	margin-top: 40px;
}

.sub-heading {
	margin-top: 30px;
	margin-bottom: 20px;
}
.label-heading {
	margin-top: 30px;
	margin-bottom: 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
}


/* Main Content Styles */

.status-2 {
	background-color: #d54c53;
	color: #fff;
}

.status-1 {
	background-color: #8cc04f;
	color: #fff;
}

.status-3 {
	background-color: #f6b44b;
	color: #fff;
}

table thead th {
	padding: 25px 0px 25px 20px !important;
	border-bottom: none !important;
	font-size: 16px;
}

table tbody tr {
	padding: 20px !important;
	border-bottom: none !important;
	font-size: 16px;
}



table {
	margin-bottom: 0 !important;
}

.table-responsive {
	margin-bottom: 30px;
}

.update-panel {
            border-bottom: 1px solid #eee;
            background: #4a90e2 ;
            color: #fff;
        }

        .panel.panel-default a {
            text-decoration: none;
        }


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	table thead th {
		padding: 15px !important;
		font-size: 13px;
	}
}


.chart {
  width: 100%; 
  min-height: 350px;
}

.loader {
	padding-top: 20%;
}











