<h1 class="page-heading">Pipeline Statistics</h1>

<h4 class="label-heading">Component Version History</h4>
<div class="row" >
    <div class="col-sm-12">
        <div class=" component" style="margin-top: 20px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="">id</th>
                        <th class="">Component</th>                       
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat=" component in components | filter:search | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize ">
                    <td ng-cloak>{{component.id}}</td>
                    <td ng-cloak>{{component.name}}</td>
                  </tr>
                </tbody>
        
            </table>
        </div>

        <ul uib-pager  total-items="components.length" ng-model="currentPage" items-per-page="pageSize"></ul>


         <h4 class="label-heading">Pipeline Step Distribution</h4>
        <div class=" component" style="margin-top: 20px">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="">id</th>
                        <th class="">Component</th>
                       
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat=" step in steps | filter:search | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize ">
                    <td ng-cloak>{{step.id}}</td>
                    <td ng-cloak>{{step.name}}</td>
                  </tr>
                </tbody>
        
            </table>
        </div>

        <ul uib-pager  total-items="steps.length" ng-model="currentPage" items-per-page="pageSize"></ul>
    </div>
</div>
